body {
  background-color: rgb(241, 198, 220);
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.container { /* alinhar os cards */
  display: flex;
  justify-content: center;
}

.card { /* organização */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.card img {
  width: 200px;
}
